.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
}

.triple {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: center;
}

.triple:first-child {
  justify-self: left;
}

.triple:last-child {
  justify-self: right;
}
