a {
  padding: 0 0.4rem 0 0.2rem;

  color: var(--color-primary-text);
  text-decoration: none;

  background-color: argb(0, var(--color-primary-base));
  border: none;
  border-left: 0.2rem double var(--link-color);

  transition-duration: var(--link-transition);
}

@media screen and (prefers-reduced-motion: reduce) {
  a {
    transition: none;
  }
}

a.underline {
  border: none;
  border-bottom: 0.2rem solid var(--link-color);
}

a:hover,
a:focus {
  color: var(--color-primary-accent);

  background-color: var(--link-color);
}
