.navbar {
  padding: 1em;

  font-size: 1.5em;

  column-gap: 1em;
}

.navbar--dark {
  padding: 1em;

  color: var(--color-dark-text);
  font-size: 1.5em;

  column-gap: 1em;

  background-color: var(--color-dark-base);
}

.navbar__brand {
  font-weight: bold;
  font-family: 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

.navbar .button {
  padding: 0.2rem 1rem;
}
