body {
  color: var(--color-primary-text);

  font-size: 24px;
  font-family: BlinkMacSystemFont, -apple-system, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Open Sans', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;

  line-height: var(--line-height);

  background-color: var(--color-primary-base);
}

p {
  margin-bottom: 1em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, fr));
}

.capsule,
time {
  padding: 4px 0.5em 2px;

  border: 1px solid var(--color-primary-text);
  border-radius: 0.8em;
}
