body {
  color: var(--color-primary-text);

  font-size: 24px;
  font-family: BlinkMacSystemFont, -apple-system, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Open Sans', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;

  line-height: var(--line-height);

  background-color: var(--color-primary-base);
}

h1,
h2,
h3 {
  margin-bottom: 1.3rem;

  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 1em 0 15px;
  padding: 0.33em;

  font-size: 3rem;

  border-bottom: 5px double var(--color-primary-text);
}

h2 {
  margin: 1em 0 15px;
  padding: 0.2em;

  font-size: 2rem;

  border-bottom: 2px solid var(--color-primary-text);
}

p {
  margin-bottom: 1em;
}

.avatar {
  width: 4em;

  border-radius: 0%;
}

.avatar-small {
  width: 2em;

  border-radius: 25%;
}

a {
  padding: 0 0.4rem 0 0.2rem;

  color: var(--color-primary-text);
  text-decoration: none;

  background-color: var(--color-primary-base);
  border: none;
  border-left: 0.2rem double var(--link-color);

  transition-duration: var(--link-transition);
}

li a {
  display: inline-block;
  width: 100%;
  padding-right: 0;
}

a:hover,
a:focus {
  color: var(--color-primary-accent);

  background-color: var(--link-color);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, fr));
}

.col {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 100%;
  place-items: center stretch;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 100%;
  place-items: center stretch;
}

.hero {
  padding: 4em 0 4em;
}

/* The hero image */
.hero__image {
  position: relative;

  /* Set a specific height */
  height: 50%;

  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(photographer.jpg);
  background-repeat: no-repeat;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-size: cover;
}

/* Place text in the middle of the image */
.hero__text {
  position: absolute;
  top: 50%;
  left: 50%;

  color: white;
  text-align: center;

  transform: translate(-50%, -50%);
}

.hero__tags {
  font-size: 0.8em;
}

.hero__tags li {
  padding-right: 1em;

  list-style: none;
}

.capsule,
time {
  padding: 4px 0.5em 2px;

  border: 1px solid var(--color-primary-text);
  border-radius: 0.8em;
}

button,
.button,
a.button {
  padding: 1rem;

  color: var(--color-primary-text);

  background-color: var(--color-primary-base);
  border: 0.2rem solid var(--link-color);

  -webkit-transition-duration: var(--link-transition);
  transition-duration: var(--link-transition);
}

button:hover,
.button:hover,
button:focus,
.button:focus {
  color: var(--color-primary-accent);

  background-color: var(--link-color);
}

.flex {
  display: flex;
}

.flex li {
  position: relative;

  flex-grow: 1;
}

@media screen and (prefers-reduced-motion: reduce) {
  .dropdown ul {
    position: absolute;
    top: var(--line-height);

    display: block;
    width: 100%;

    border: 1px solid var(--color-primary-text);
    border-left: 0 solid var(--color-primary-text);
    visibility: hidden;
    opacity: 0;

    transition: none;
  }
}

.dropdown ul {
  position: absolute;
  top: var(--line-height);

  display: block;
  width: 100%;

  border: 1px solid var(--color-primary-text);
  border-left: 0 solid var(--color-primary-text);
  visibility: hidden;
  opacity: 0;

  transition: opacity var(--drop-transition);
}

.dropdown ul li {
  float: none;
  width: calc(100% - 0.2rem - 0.2rem);
  margin: 0;
  padding: 0;

  line-height: var(--line-height);
}

.dropdown:hover ul,
.dropdown:focus ul,
.dropdown:focus-within ul {
  visibility: visible;
  opacity: 1;
}

:root {
  --line-height: 1.5em;
  --color-primary-base: #404c63;
  --color-primary-text: #5f819f;
  --link-color: var(--color-primary-text);
  --color-primary-accent: #88b3dd;
  --link-transition: 0.2s;
  --drop-transition: var(--link-transition);
}

@import url(components/dropdown.css);
@import url(components/card.css);
@import url(components/badge.css);
@import url(components/banner.css);
@import url(components/tabs.css);
@import url(components/list.css);
