.tabs {
  display: flex;
  width: 100%;

  padding: 0.5rem 0.5rem 0 0.5rem;
}

.tab {
  flex: 1 0 auto;

  text-align: center;
}

.tab.active {
  background-color: var(--color-dark-base);
}

.tabs--outline {
  display: flex;
  width: 100%;

  padding: 0.5rem 0.5rem 0 0.5rem;
}

.tabs--outline .tab {
  padding-bottom: 0.5rem;

  background-color: var(--color-dark-base);
  border: 0;
  border-bottom: 0.2rem solid var(--link-color);
}

.tabs--outline .tab.active {
  background-color: inherit;
  border: 0.2rem solid var(--link-color);
  border-bottom: 0;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
