h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.15em;

  margin: 1em 0 15px;
  margin-bottom: 1.3rem;

  font-family: 'Montserrat', sans-serif;
}

h1 {
  padding: 0.33em;

  font-size: 3rem;

  border-bottom: 5px double var(--color-primary-text);
}

h2 {
  padding: 0.2em;

  font-size: 2.4rem;

  border-bottom: 2px solid var(--color-primary-text);
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}
